# =========================
# Project
# =========================
PROJECT_NAME=FlavorLog
PROJECT_ENV=development

# =========================
# PostgreSQL Docker Config
# =========================
POSTGRES_CONTAINER_NAME=flavorlog_postgres
POSTGRES_IMAGE=postgres:16

POSTGRES_USER=flavorlog
POSTGRES_PASSWORD=flavorlog123
POSTGRES_DB=flavorlog_db

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# =========================
# Backend Server
# =========================
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
API_PREFIX=/api/v1

# =========================
# Local Network Example
# =========================
# 手机和电脑在同一局域网时，前端访问后端需要使用电脑的局域网 IP。
# 例如：
# BACKEND_LAN_URL=http://192.168.1.100:8000/api/v1

BACKEND_LAN_URL=http://127.0.0.1:8000/api/v1